<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to flightbooker.com, <%= @user.name %></h1>
    <p>
      You have successfully booked your ticket.
    </p>
    <p>Thanks for visit us and have a great day!</p>
  </body>
</html>