<%= link_to gravatar_for(curr_user, size: 60), curr_user %>
<h1><%= curr_user.name %></h1>
<span><%= link_to "view my profile", curr_user %></span>
<span><%= pluralize(curr_user.microposts.count, "micropost") %></span>