<!DOCTYPE html>
<html>
  <head>
    <title>RestTester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1>Rest Tester App</h1>
    <%= yield %>
    <h4>Footer of App</h4>
  </body>
</html>
