<html>
	<head>
		<title>Caesar Cipher</title>
		<link rel="stylesheet" type="text/css"  href="/css/dec.css">
	</head>
	<body>
		<a href="/">Back to Menu</a>
    <h3>CAESAR CIPHER</h3>
		<form>
			<input type="text" name="string" placeholder="Your message" id="string" />
			<br />
			<input type="text" name="num" placeholder="Number: 1- 51" />
			<input type="submit" value="Cipher" />
		</form>
		<p><%= answer %></p>
	</body>
</html>