<html>
	<head>
		<title>Web Portafolio</title>		
		<link rel="stylesheet" type="text/css"  href="/css/dec.css">
		<style>
			a:link, a:visited {
				background-color: grey;
    		color: white;
		    padding: 14px 25px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 40px;
			}
			a:hover, a:active {
			    background-color: black;
			}
		</style>
	</head>
	<body>
    <h3>WEB PORTAFOLIO</h3>
    <p>Plase, select the game you want to play.</p>
    <a href="web_guesser.erb">Web Guesser</a>
		<a href="caesar_cipher.erb">Caesar Cipher</a>
		<a href="hangman.erb">Hangman</a>
		<a href="mastermind.erb">Mastermind</a>
	</body>
</html>