<html>
	<head>
		<title>Mastermind Game</title>
		<link rel="stylesheet" type="text/css"  href="/css/dec.css">
	</head>
	<body>
		<a href="/">Back to Menu</a>
    <h3>MASTERMIND</h3>
    
 		<form>
 			<input type="submit" name="game" value="New" />
 		</form>
 		
    <p>
    Try to guess the secret code, Just a 4 digit number! You have <%= turns %> turns.!!
 		</p>
 		<div id="message">
	  	<%= message %>
	  </div>
	  <div>
		  <form>
			<input type="text" name="code" placeholder="Your code" pattern="["0"-"9"]" maxlength="4" autofocus />
			<input type="submit" value="Try" />
		  </form>
		</div>
			  
	  <div id="feedback" style="max-width: 500px; margin-left: 35%">
	    <% path.each_with_index do |feedback, index| %>
	    	<div style="text-align: left">Your code:    <%= guesses[index] %> => <%= feedback.join('') %></div>
	    <% end %>
	  </div>
	  
	</body>
</html>