<html>
	<head>
		<title>Caesar Cipher</title>
		<style>
			body {
				font-size: 40px;
				padding-top: 70px;
				text-align:center;
			}
			input {
				height: 30px;
				text-align:center;
			}
			#string {
				width: 700px;
			}
		</style>
	</head>
	<body>
    <h3>CAESAR CIPHER</h3>
		<form>
			<input type="text" name="string" placeholder="Your message" id="string" />
			<input type="text" name="num" placeholder="Number for ciphering: 1- 51" />
			<input type="submit" value="Cipher" />
		</form>
		<p><%= answer %></p>
	</body>
</html>